In [1]:
import pandas as pd

from stellr import Star

In [2]:
Star.get_levelnames()

['star']

In [3]:
Star.get_varnames()

['star/f_evol',
 'star/mass',
 'star/mlt',
 'star/yi',
 'star/zi',
 'star/mhi',
 'star/age',
 'star/teff',
 'star/rad',
 'star/lum',
 'star/dnu',
 'star/mhs']

In [190]:
scale = 'DR14_IRFM'

seis = pd.read_csv('../data/serenelli2017/s17_seis.csv')
lums = pd.read_csv(f'../data/isoclassify/isoclassify_outputs_{scale}.csv')

seis.head()

       KIC     numax   enumax     Dnu   eDnu  Length    HBR
0  1435467  1382.311   19.038  70.558  0.087   938.1  1.662
1  2010607   674.919  146.523  42.479  2.185    28.9  1.547
2  2309595   643.208   11.226  39.029  0.721    28.9  1.767
3  2450729  1053.105  114.904  61.910  2.539    28.9  1.470
4  2837475  1629.761   18.396  75.720  0.129  1029.4  1.767

In [191]:
lums.head()

,id_starname,teff,teff_err,logg,logg_err,feh,feh_err,lum,lum_err,gmag,...,dir_teff_err2,dir_mabs,dir_mabs_err1,dir_mabs_err2,dir_mass,dir_mass_err1,dir_mass_err2,dir_rho,dir_rho_err1,dir_rho_err2
0,KIC5950854,-99,0,4.237158,0.009836,-0.173085,0.073964,-99,0,-99,...,-123.269780,2.726344,0.036510,-0.036819,0.0,0.0,-0.0,0.0,0.0,-0.0
1,KIC7799349,-99,0,3.670984,0.007718,0.284619,0.029484,-99,0,-99,...,-100.747932,1.213493,0.033218,-0.033533,0.0,0.0,-0.0,0.0,0.0,-0.0
2,KIC12069569,-99,0,3.825712,0.060999,-0.084244,0.066659,-99,0,-99,...,-130.664102,1.316289,0.043069,-0.043379,0.0,0.0,-0.0,0.0,0.0,-0.0
3,KIC5822889,-99,0,3.401706,0.012167,-0.026246,0.039186,-99,0,-99,...,-100.364203,0.192337,0.057803,-0.058261,0.0,0.0,-0.0,0.0,0.0,-0.0
4,KIC10070754,-99,0,4.298876,0.047132,-0.271579,0.085518,-99,0,-99,...,-131.255359,2.620234,0.033001,-0.033353,0.0,0.0,-0.0,0.0,0.0,-0.0

In [192]:
lums['KIC'] = lums.id_starname.str.lstrip('KIC').astype(int)
lums.head()

,id_starname,teff,teff_err,logg,logg_err,feh,feh_err,lum,lum_err,gmag,...,dir_mabs,dir_mabs_err1,dir_mabs_err2,dir_mass,dir_mass_err1,dir_mass_err2,dir_rho,dir_rho_err1,dir_rho_err2,KIC
0,KIC5950854,-99,0,4.237158,0.009836,-0.173085,0.073964,-99,0,-99,...,2.726344,0.036510,-0.036819,0.0,0.0,-0.0,0.0,0.0,-0.0,5950854
1,KIC7799349,-99,0,3.670984,0.007718,0.284619,0.029484,-99,0,-99,...,1.213493,0.033218,-0.033533,0.0,0.0,-0.0,0.0,0.0,-0.0,7799349
2,KIC12069569,-99,0,3.825712,0.060999,-0.084244,0.066659,-99,0,-99,...,1.316289,0.043069,-0.043379,0.0,0.0,-0.0,0.0,0.0,-0.0,12069569
3,KIC5822889,-99,0,3.401706,0.012167,-0.026246,0.039186,-99,0,-99,...,0.192337,0.057803,-0.058261,0.0,0.0,-0.0,0.0,0.0,-0.0,5822889
4,KIC10070754,-99,0,4.298876,0.047132,-0.271579,0.085518,-99,0,-99,...,2.620234,0.033001,-0.033353,0.0,0.0,-0.0,0.0,0.0,-0.0,10070754

In [193]:
# lums['dir_lum_err'] = (lums.dir_lum_err1 - lums.dir_lum_err2) / 2.
lums['dir_lum_err'] = lums[["dir_lum_err1", "dir_lum_err2"]].max(axis=1)

In [194]:
data = lums.merge(seis, on='KIC')
data.head()

,id_starname,teff,teff_err,logg,logg_err,feh,feh_err,lum,lum_err,gmag,...,dir_rho_err1,dir_rho_err2,KIC,dir_lum_err,numax_y,enumax,Dnu,eDnu,Length,HBR
0,KIC5950854,-99,0,4.237158,0.009836,-0.173085,0.073964,-99,0,-99,...,0.0,-0.0,5950854,0.070548,1924.536,32.725,96.857,0.194,401.9,1.145
1,KIC7799349,-99,0,3.670984,0.007718,0.284619,0.029484,-99,0,-99,...,0.0,-0.0,7799349,0.143431,569.664,7.040,33.299,0.322,1049.1,3.103
2,KIC12069569,-99,0,3.825712,0.060999,-0.084244,0.066659,-99,0,-99,...,0.0,-0.0,12069569,0.362834,737.053,102.768,44.687,2.162,31.1,1.472
3,KIC5822889,-99,0,3.401706,0.012167,-0.026246,0.039186,-99,0,-99,...,0.0,-0.0,5822889,0.645930,300.250,7.401,19.708,0.127,317.2,1.636
4,KIC10070754,-99,0,4.298876,0.047132,-0.271579,0.085518,-99,0,-99,...,0.0,-0.0,10070754,0.084860,2130.810,228.808,100.028,2.262,30.0,1.217

In [195]:
rename_dict = {
    'id_starname': 'name',
    'dir_lum': 'lum',
    'dir_lum_err': 'lum_err',
    'Dnu': 'dnu',
    'eDnu': 'dnu_err',
    'feh': 'mhs',
    'feh_err': 'mhs_err'
}

if 'IRFM' in scale:
    rename_dict['dir_teff'] = 'teff'
#     data['dir_teff_err'] = (data.dir_teff_err1 - data.dir_teff_err2) / 2.
    data['dir_teff_err'] = data[["dir_teff_err1", "dir_teff_err2"]].max(axis=1)
    rename_dict['dir_teff_err'] = 'teff_err'

# Drop columns which share rename values
data.drop(columns=[col for col in rename_dict.values() if col in data.columns], inplace=True)
data.rename(columns=rename_dict, inplace=True)
data.head()

,name,logg,logg_err,mhs,mhs_err,gmag,gmag_err,rmag,rmag_err,imag,...,dir_rho_err2,KIC,lum_err,numax_y,enumax,dnu,dnu_err,Length,HBR,teff_err
0,KIC5950854,4.237158,0.009836,-0.173085,0.073964,-99,0,-99,0,-99,...,-0.0,5950854,0.070548,1924.536,32.725,96.857,0.194,401.9,1.145,123.269780
1,KIC7799349,3.670984,0.007718,0.284619,0.029484,-99,0,-99,0,-99,...,-0.0,7799349,0.143431,569.664,7.040,33.299,0.322,1049.1,3.103,100.747932
2,KIC12069569,3.825712,0.060999,-0.084244,0.066659,-99,0,-99,0,-99,...,-0.0,12069569,0.362834,737.053,102.768,44.687,2.162,31.1,1.472,130.664102
3,KIC5822889,3.401706,0.012167,-0.026246,0.039186,-99,0,-99,0,-99,...,-0.0,5822889,0.645930,300.250,7.401,19.708,0.127,317.2,1.636,100.364203
4,KIC10070754,4.298876,0.047132,-0.271579,0.085518,-99,0,-99,0,-99,...,-0.0,10070754,0.084860,2130.810,228.808,100.028,2.262,30.0,1.217,131.255359

In [196]:
cols = [
    'name', 'teff', 'teff_err', 'lum', 'lum_err', 'dnu', 'dnu_err', 'mhs', 'mhs_err', 'logg', 'logg_err'
]

data = data[cols]
data.head()

,name,teff,teff_err,lum,lum_err,dnu,dnu_err,mhs,mhs_err,logg,logg_err
0,KIC5950854,6163.488975,123.269780,2.045304,0.070548,96.857,0.194,-0.173085,0.073964,4.237158,0.009836
1,KIC7799349,5037.396585,100.747932,4.572668,0.143431,33.299,0.322,0.284619,0.029484,3.670984,0.007718
2,KIC12069569,6533.205082,130.664102,8.901182,0.362834,44.687,2.162,-0.084244,0.066659,3.825712,0.060999
3,KIC5822889,5018.210145,100.364203,11.717380,0.645930,19.708,0.127,-0.026246,0.039186,3.401706,0.012167
4,KIC10070754,6562.767955,131.255359,2.720209,0.084860,100.028,2.262,-0.271579,0.085518,4.298876,0.047132

Flag points less than zero or with error greater than 25%

In [197]:
data['bad_data'] = 0
for obs in ['teff', 'lum', 'dnu']:
    print(f'obs={obs}')
    if len(data[data[obs] < 0]) > 0:
        data.loc[data[obs] < 0, 'bad_data'] = 1
        print(data[data[obs] < 0])
    if len(data[data[f'{obs}_err']/data[obs] > 0.25]):
        data.loc[data[f'{obs}_err']/data[obs] > 0.25, 'bad_data'] = 1
        print(data[data[f'{obs}_err']/data[obs] > 0.25])

obs=teff
obs=lum
            name         teff    teff_err         lum       lum_err      dnu  \
39    KIC6863041  5774.969240  115.499385  459.452073    652.904039   42.899
58    KIC8179643  6393.895687  127.877914  446.075780    787.343146   56.926
97    KIC4571904  6224.870765  124.497415   12.419031     10.282008   45.028
182  KIC11558593  5352.074597  107.041492   46.902512     55.662990   28.486
308  KIC10454113  5767.292293  115.345846    2.401244  22645.071634  105.109
315  KIC10712891  5257.583394  105.151668    7.536591      5.413941   30.807

     dnu_err       mhs   mhs_err      logg  logg_err  bad_data
39     0.583  0.272265  0.067093  3.838376  0.023328         1
58     3.014 -0.363823  0.079551  3.972412  0.021583         1
97     4.303 -0.021181  0.094490  3.842058  0.021067         1
182    0.534 -0.188893  0.041165  3.573838  0.024462         1
308    0.136  0.012762  0.076366  4.325496  0.008837         1
315    1.765  0.039263  0.036719  3.634388  0.014196         1
obs=dnu

Flag points with obscenely low metallicity or an error of greater than 25% (note since in dex, we multiply by 0.434 to get the log error).

In [198]:
obs = 'mhs'
if len(data[data[obs] < -9]) > 0:
    data.loc[data[obs] < -9, 'bad_data'] = 1
    print(data[data[obs] < -9])
if len(data[data[f'{obs}_err'] > 0.25*0.434]):
    data.loc[data[f'{obs}_err'] > 0.25*0.434, 'bad_data'] = 1
    print(data[data[f'{obs}_err'] > 0.25*0.434])

           name         teff   teff_err       lum   lum_err     dnu  dnu_err  \
156  KIC7341231  5898.321523  117.96643  6.960207  0.215964  39.276    0.309

          mhs   mhs_err      logg  logg_err  bad_data
156 -2.009766  0.113441  3.767802  0.021497         1

Finally, let's load in S17 masses and flag points outside of the range.

In [199]:
s17 = pd.read_csv('../data/serenelli2017/s17_SDSS.csv')  # Their recommended results
s17.head()

,KIC,Teff,eTeff,[M/H],e[M/H],Radius,+eRad,-eRad,syRad,Mass,...,-elogg,sylogg,rho,+erho,-erho,syrho,Age,+eAge,-eAge,syAge
0,1435467,6433.0,86.0,-0.028,0.099,1.693,0.015,-0.016,0.010,1.344,...,-0.006,0.002,0.27770,0.002376,-0.002391,0.001505,2.605,0.302,-0.293,0.215
1,2010607,6361.0,71.0,-0.070,0.100,2.410,0.100,-0.090,0.035,1.402,...,-0.027,0.003,0.09973,0.009867,-0.009399,0.001393,2.755,0.296,-0.301,0.184
2,2309595,5238.0,65.0,-0.095,0.101,2.423,0.076,-0.073,0.022,1.167,...,-0.008,0.002,0.08183,0.002543,-0.002494,0.000710,5.460,1.351,-1.023,0.422
3,2450729,6029.0,59.0,-0.212,0.100,1.758,0.059,-0.056,0.023,1.112,...,-0.021,0.006,0.20430,0.015940,-0.014980,0.002889,6.034,0.804,-0.718,0.550
4,2837475,6688.0,57.0,-0.015,0.100,1.710,0.022,-0.043,0.039,1.665,...,-0.011,0.006,0.33190,0.002563,-0.002835,0.006216,1.131,0.197,-0.181,0.221

In [200]:
s17['name'] = 'KIC' + s17['KIC'].astype(str)
s17.head()

,KIC,Teff,eTeff,[M/H],e[M/H],Radius,+eRad,-eRad,syRad,Mass,...,sylogg,rho,+erho,-erho,syrho,Age,+eAge,-eAge,syAge,name
0,1435467,6433.0,86.0,-0.028,0.099,1.693,0.015,-0.016,0.010,1.344,...,0.002,0.27770,0.002376,-0.002391,0.001505,2.605,0.302,-0.293,0.215,KIC1435467
1,2010607,6361.0,71.0,-0.070,0.100,2.410,0.100,-0.090,0.035,1.402,...,0.003,0.09973,0.009867,-0.009399,0.001393,2.755,0.296,-0.301,0.184,KIC2010607
2,2309595,5238.0,65.0,-0.095,0.101,2.423,0.076,-0.073,0.022,1.167,...,0.002,0.08183,0.002543,-0.002494,0.000710,5.460,1.351,-1.023,0.422,KIC2309595
3,2450729,6029.0,59.0,-0.212,0.100,1.758,0.059,-0.056,0.023,1.112,...,0.006,0.20430,0.015940,-0.014980,0.002889,6.034,0.804,-0.718,0.550,KIC2450729
4,2837475,6688.0,57.0,-0.015,0.100,1.710,0.022,-0.043,0.039,1.665,...,0.006,0.33190,0.002563,-0.002835,0.006216,1.131,0.197,-0.181,0.221,KIC2837475

In [201]:
df = data.merge(s17, on='name', suffixes=('', '_S17'))
df.head()

,name,teff,teff_err,lum,lum_err,dnu,dnu_err,mhs,mhs_err,logg,...,-elogg,sylogg,rho,+erho,-erho,syrho,Age,+eAge,-eAge,syAge
0,KIC5950854,6163.488975,123.269780,2.045304,0.070548,96.857,0.194,-0.173085,0.073964,4.237158,...,-0.007,0.005,0.50960,0.002194,-0.002290,0.005988,9.164,1.302,-1.171,0.929
1,KIC7799349,5037.396585,100.747932,4.572668,0.143431,33.299,0.322,0.284619,0.029484,3.670984,...,-0.007,0.002,0.06089,0.001157,-0.001151,0.000427,3.828,0.944,-0.779,0.235
2,KIC12069569,6533.205082,130.664102,8.901182,0.362834,44.687,2.162,-0.084244,0.066659,3.825712,...,-0.025,0.005,0.10970,0.009884,-0.009495,0.001577,2.979,0.274,-0.281,0.315
3,KIC5822889,5018.210145,100.364203,11.717380,0.645930,19.708,0.127,-0.026246,0.039186,3.401706,...,-0.009,0.005,0.02157,0.000337,-0.000367,0.000327,1.552,0.478,-0.372,0.196
4,KIC10070754,6562.767955,131.255359,2.720209,0.084860,100.028,2.262,-0.271579,0.085518,4.298876,...,-0.014,0.005,0.56570,0.025560,-0.025760,0.005105,1.836,0.592,-0.511,0.824

In [202]:
df['Mass+2e'] = df['Mass'] + 2 * df['+eMas']
df['Mass-2e'] = df['Mass'] + 2 * df['-eMas']  # Note this is negative in the table
df['mhs+2e'] = df['mhs'] + 2 * df['mhs_err']
df['mhs-2e'] = df['mhs'] - 2 * df['mhs_err']
df['logg-2e'] = df['logg'] - 2 * df['logg_err']

In [203]:
df['Mass+e'] = df['Mass'] + df['+eMas']
df['Mass-e'] = df['Mass'] + df['-eMas']  # Note this is negative in the table
df['mhs+e'] = df['mhs'] + df['mhs_err']
df['mhs-e'] = df['mhs'] - df['mhs_err']
df['logg-e'] = df['logg'] - df['logg_err']

In [204]:
cond = (df['mhs-2e'] > -0.5) & (df['mhs+2e'] < 0.5) & \
    (df['Mass-2e'] > 0.8) & (df['Mass+2e'] < 1.2) & \
    (df['logg-2e'] > 3.8)

df['on_grid_2e'] = 0
df.loc[cond, 'on_grid_2e'] = 1
df.head()

,name,teff,teff_err,lum,lum_err,dnu,dnu_err,mhs,mhs_err,logg,...,Mass-2e,mhs+2e,mhs-2e,logg-2e,Mass+e,Mass-e,mhs+e,mhs-e,logg-e,on_grid_2e
0,KIC5950854,6163.488975,123.269780,2.045304,0.070548,96.857,0.194,-0.173085,0.073964,4.237158,...,0.882,-0.025156,-0.321014,4.217487,0.995,0.919,-0.099120,-0.247049,4.227323,1
1,KIC7799349,5037.396585,100.747932,4.572668,0.143431,33.299,0.322,0.284619,0.029484,3.670984,...,1.216,0.343586,0.225651,3.655547,1.456,1.294,0.314103,0.255135,3.663265,0
2,KIC12069569,6533.205082,130.664102,8.901182,0.362834,44.687,2.162,-0.084244,0.066659,3.825712,...,1.275,0.049073,-0.217562,3.703715,1.416,1.319,-0.017586,-0.150903,3.764713,0
3,KIC5822889,5018.210145,100.364203,11.717380,0.645930,19.708,0.127,-0.026246,0.039186,3.401706,...,1.447,0.052127,-0.104619,3.377373,1.805,1.559,0.012940,-0.065433,3.389540,0
4,KIC10070754,6562.767955,131.255359,2.720209,0.084860,100.028,2.262,-0.271579,0.085518,4.298876,...,1.107,-0.100543,-0.442616,4.204613,1.246,1.154,-0.186061,-0.357097,4.251744,0

In [205]:
cond = (df['mhs-e'] > -0.5) & (df['mhs+e'] < 0.5) & \
    (df['Mass-e'] > 0.8) & (df['Mass+e'] < 1.2) & \
    (df['logg-e'] > 3.8)

df['on_grid_1e'] = 0
df.loc[cond, 'on_grid_1e'] = 1
df.head()

,name,teff,teff_err,lum,lum_err,dnu,dnu_err,mhs,mhs_err,logg,...,mhs+2e,mhs-2e,logg-2e,Mass+e,Mass-e,mhs+e,mhs-e,logg-e,on_grid_2e,on_grid_1e
0,KIC5950854,6163.488975,123.269780,2.045304,0.070548,96.857,0.194,-0.173085,0.073964,4.237158,...,-0.025156,-0.321014,4.217487,0.995,0.919,-0.099120,-0.247049,4.227323,1,1
1,KIC7799349,5037.396585,100.747932,4.572668,0.143431,33.299,0.322,0.284619,0.029484,3.670984,...,0.343586,0.225651,3.655547,1.456,1.294,0.314103,0.255135,3.663265,0,0
2,KIC12069569,6533.205082,130.664102,8.901182,0.362834,44.687,2.162,-0.084244,0.066659,3.825712,...,0.049073,-0.217562,3.703715,1.416,1.319,-0.017586,-0.150903,3.764713,0,0
3,KIC5822889,5018.210145,100.364203,11.717380,0.645930,19.708,0.127,-0.026246,0.039186,3.401706,...,0.052127,-0.104619,3.377373,1.805,1.559,0.012940,-0.065433,3.389540,0,0
4,KIC10070754,6562.767955,131.255359,2.720209,0.084860,100.028,2.262,-0.271579,0.085518,4.298876,...,-0.100543,-0.442616,4.204613,1.246,1.154,-0.186061,-0.357097,4.251744,0,0

In [206]:
len(df.loc[df['bad_data']==1])

7

In [207]:
len(df.loc[df['on_grid_2e']==1])

42

In [208]:
len(df.loc[df['on_grid_1e']==1])

82

In [209]:
cols += ['bad_data', 'on_grid_1e', 'on_grid_2e']
df[cols]

,name,teff,teff_err,lum,lum_err,dnu,dnu_err,mhs,mhs_err,logg,logg_err,bad_data,on_grid_1e,on_grid_2e
0,KIC5950854,6163.488975,123.269780,2.045304,0.070548,96.857,0.194,-0.173085,0.073964,4.237158,0.009836,0,1,1
1,KIC7799349,5037.396585,100.747932,4.572668,0.143431,33.299,0.322,0.284619,0.029484,3.670984,0.007718,0,0,0
2,KIC12069569,6533.205082,130.664102,8.901182,0.362834,44.687,2.162,-0.084244,0.066659,3.825712,0.060999,0,0,0
3,KIC5822889,5018.210145,100.364203,11.717380,0.645930,19.708,0.127,-0.026246,0.039186,3.401706,0.012167,0,0,0
4,KIC10070754,6562.767955,131.255359,2.720209,0.084860,100.028,2.262,-0.271579,0.085518,4.298876,0.047132,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,KIC9468847,6030.817152,120.616343,3.881823,0.126572,61.356,2.002,-0.063325,0.075848,3.991179,0.031647,0,0,0
394,KIC9754284,6293.464321,125.869286,3.418770,0.115303,73.944,0.852,0.073750,0.078118,4.138669,0.057925,0,0,0
395,KIC11027406,6019.355051,120.387101,2.048622,0.073316,88.314,0.954,-0.208151,0.074160,4.173365,0.022149,0,1,1
396,KIC9880787,6040.291978,120.805840,4.766652,0.164518,51.274,0.694,-0.245983,0.063372,3.899129,0.020394,0,0,0
397,KIC9150095,4845.155775,96.903115,7.305963,0.283789,18.319,0.445,0.154378,0.029577,3.325370,0.015141,0,0,0

In [210]:
df[cols].to_csv(f'../data/stellr/inputs_{scale}.csv', index=False)